apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: pgvector
spec:
  template:
    spec:
      containers:
      - name: postgres
        envFrom:
        - secretRef:
            name: ai-secrets
