apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: pgvector
spec:
  volumeClaimTemplates:
  - metadata:
      name: pgdata
      labels:
        app: pgvector
    spec:
      accessModes: ["ReadWriteOnce"]
      storageClassName: ceph-rbd
      resources:
        requests:
          storage: 50Gi
