apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: pgvector
spec:
  template:
    metadata:
      annotations:
        vault.hashicorp.com/agent-inject: "true"
        vault.hashicorp.com/role: "pgvector-role"
        vault.hashicorp.com/agent-inject-secret-env: "ai/data/pgvector"
        vault.hashicorp.com/agent-inject-template-env: |
          {{- with secret "ai/data/pgvector" -}}
          export POSTGRES_USER="{{ .Data.data.POSTGRES_USER }}"
          export POSTGRES_PASSWORD="{{ .Data.data.POSTGRES_PASSWORD }}"
          export POSTGRES_DB="{{ .Data.data.POSTGRES_DB }}"
          {{- end -}}
