apiVersion: apps/v1
kind: Deployment
metadata:
  name: openwebui
spec:
  template:
    spec:
      containers:
      - name: openwebui
        envFrom:
        - secretRef:
            name: ai-secrets
