apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: openwebui-data
  labels:
    app: openwebui
    app.kubernetes.io/name: openwebui
    app.kubernetes.io/component: frontend
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
