apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis
spec:
  template:
    spec:
      securityContext:
        fsGroup: 999
      initContainers:
      - name: fix-permissions
        image: busybox:1.36
        command: ['sh', '-c', 'chown -R 999:999 /data']
        securityContext:
          runAsUser: 0
        volumeMounts:
        - name: redisdata
          mountPath: /data
