apiVersion: v1
kind: Service
metadata:
  name: pgvector
  labels:
    app: pgvector
    app.kubernetes.io/name: pgvector
    app.kubernetes.io/component: database
spec:
  type: ClusterIP
  selector:
    app: pgvector
  ports:
  - name: postgres
    port: 5432
    targetPort: 5432
    protocol: TCP
  sessionAffinity: ClientIP
